body{
    background: #56a4fe;
}
header{
    margin-top: 20px;
}
main{
    margin-top: 20px;
}
footer{
    margin-top: 20px;
    margin-bottom: 30px;
}
nav{
    margin-top: 20px;
}
.wrapper{
    width: 1200px;
    margin: auto;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px #888888;
    background: #D3E4A6;
}
.header-right{
    text-align: right;
}
.header-left{
    padding: 10px;
}
/* table, th, td {
    margin-top: 10px;
    margin-left: 200px;
  } */
#address{
    text-align: center;
    margin: auto;
}
.name{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
}
.main-left{
    width: 250px;
    padding: 10px;
    line-height: 1.6;
}
.main-right{
    width: 100%;
}
.main-right h5 {
    text-align: center;
}
.main{
    margin: 35px auto;
    width: 800px;
}
table tr td{
    box-sizing: border-box;
}
.login{
    width: 400px;
    margin: 100px auto;

}
